<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/css/style.css">
    <title>Saving Lives</title>
  </head>
  <body>


    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <a href="/home"  ><img style="max-width:180px"
                   src="/images/logo1.png"></a>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block navst">
                <li class="active "><a href="/home"><span>Home</span></a></li>
                <li class="active"><a href="/compose"><span>Compose</span></a></li>
                <li class="active"><a href="/posts"><span>help</span></a></li>
                <li class="active"><a href="/contact"><span>Contact</span></a></li>
                <li class="active"><a href="/logout"><span>Logout</span></a></li>

              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
    </header>
    <div class="wrapper homestart">
      <div class="conte">
        <h1>Welcome to <span class="label label-default">Oxy Finder</span> Put your Demands  Here</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit doloribus similique illo maxime placeat repellendus eligendi tempore ullam? Repudiandae nostrum dolor possimus neque debitis veniam doloremque totam tempora earum fuga Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi?</p>
      </div>
    </div>
    <div class="hero" style="opacity: .7;z-index: -1; background-image: url('images/main3.jpg');"></div>
  </body>

</html>

