<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">  
  <title>404 Not Found</title>
  <style>
    body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .btn{
      font-size: 2rem;
      width: 300px;
      padding: .5rem .7rem;
      border-radius: .2rem;
      background-color: #1f3d60;
      color: #fff;
      outline: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <form action="/login" method="get">
    <h1>Page youre trying to access not found</h3>
    <h2>Kindly go back to Login page</h5>
    <button class="btn">Login</button>
</form>
</body>
</html>