<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/posts.css">
    <div class="con">
    <b><h1>Contact</h1></b>
    <p> <%= contactContent %> </p>
    <hr>
      <b><h4>Contact Details</h4></b>
  <p><b>Sai Saisrinivasan</b><br>
     College of Engineering , Guindy,<br>
     Chennai,<br>
     Ph.no :+91 6383 393 684 .
     <br>

    <b>Sanjay</b><br>
    College of Engineering , Guindy ,<br>
    Chennai,<br>
    ph.no : +91 7358723577 .</p>




    <br>
  </div>
