<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  </head>
  <body>
  <br><br><br><br>
  <center>  <img style="max-width:200px"
         src="/images/logo.png">
       </center>
  <div class="testbox">
    <h1>Login</h1>
    <form action="/login" method="POST">
    <hr>
    <br>
    <br>
    <label id="icon" for="email"><i class="icon-envelope "></i></label>
    <input type="text" name="email" id="name" placeholder="Email" required/>
    <label id="icon" for="password"><i class="icon-shield"></i></label>
    <input type="password" name="password" id="name" placeholder="Password" required/>

    <br>
    <button type="submit" class="button">Login</button>
    <a href="/" class="login" > New User!    Click here </a>

    </form>
  </div>
  <% if(messages.error){ %>
    <center><h5><%= messages.error %></h5></center>
  <% } %>
  </body>
</html>
